.section3-header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14rem;
}

.music-header {
  background-color: rgba(255, 0, 60, 0.362);
  font-size: 32px;
  word-spacing: 4px;
  letter-spacing: 12px;
  padding: 20px 50px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 6px;
  cursor: context-menu;
}

.music-container {
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  width: 85rem;
  height: 800px;
  display: grid;
  row-gap: 34px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.album-container {
  background-image: url(music/photo_2024-12-24_12-00-12.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.477);
  border-radius: 6px;
  width: 250px;
  height: 360px;
  position: relative;
  transition: 0.5s ease;
}

.album-cover {
  width: 170px;
  border-radius: 5px;
  position: absolute;
  left: 16%;
  top: 8%;
  margin-bottom: 30px;
}

.album-container:hover {
  box-shadow: 0 0 34px rgba(34, 4, 32, 0.897);
  transform: scale(1.01) translateY(-8px);
}

.kotak-lagu {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}

.nama-lagu {
  font-family: "Vollkorn", serif;
  position: absolute;
  top: 13%;
  text-shadow: 0 0 10px black;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: 500;
  color: white;
}

.name {
  cursor: pointer;
  position: absolute;
  top: 28%;
  text-shadow: 0 0 10px black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: white;
  font-size: 11px;
  font-weight: 500;
}

.name:hover {
  text-decoration: underline;
}

.button-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 5px;
  top: 73%;
  z-index: 3;
}

.play-button {
  width: 40px;
  cursor: pointer;
  margin-right: 8px;
}

.text-song {
  font-size: 13px;
  font-style: italic;
  text-shadow: 0 0 5px black;
  margin-left: 5px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.text-song:hover {
  text-decoration: underline;
}
